name: Dev Build

on:
  push:
    branches:
      - "dev/**"

jobs:
  build_dev:
    if: "!contains(github.event.head_commit.message, '[release]') && !contains(github.event.head_commit.message, '[pre-release]') && !contains(github.event.head_commit.message, '[ci skip]')"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Build project
        run: ./gradlew build

      - name: Upload Dev Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Mixer-DevBuild-${{ github.sha }}
          path: build/libs/*.jar